.image_container {
  overflow: hidden;
  position: relative;
}

.image_container img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.75);
}


.image_container.animated img {
  animation: pic 2.5s forwards;
}

.image_container.after_animated img {
  opacity: 1;
  transform: scale(1);
  transition: all;
  transition-duration: 1000ms;
}

.image_container.after_animated:hover img {
  transform: scale(1.15);
}

@keyframes pic {
  0% {
    transform: scale(1.75);
  }

  100% {
    transform: scale(1);
  }
}

.slow-1 {
  animation-delay: 250ms !important;
}

.slow-2 {
  animation-delay: 500ms !important;
}

.slow-3 {
  animation-delay: 750ms !important;
}

.slow-4 {
  animation-delay: 1000ms !important;
}


.vc-box {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 639px) {
  .circle-container {
    position: relative;
    width: 90vw;
    height: 90vw;
    padding: 2.8em;
    border: dashed 2px;
    border-radius: 50%;
    border-color: #ffffff99;
    margin: 1.75em auto 0;
  }

  .circle-container div {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11em;
    margin-left: -5.5em;
    height: 4em;
    margin-top: -2.5em;
  }

  .degnone {
    height: 11em !important;
    border-radius: 9999px !important;
    margin-top: -5.5em !important;
    transform: rotate(0deg) translate(0vh) rotate(0deg) !important;
    z-index: 1 !important;
  }
}


/* Desktop */
@media (min-width: 640px) {
  .circle-container {
    position: relative;
    width: 75vh;
    height: 75vh;
    padding: 2.8em;
    border: dashed 2px;
    border-radius: 50%;
    border-color: #ffffff99;
    margin: 1.75em auto 0;
  }

  .circle-container div {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11em;
    margin-left: -5.5em;
    height: 4em;
    margin-top: -2.5em;
  }

  .degnone {
    height: 11em !important;
    border-radius: 9999px !important;
    margin-top: -5.5em !important;
    margin-left: -5.5em;
    transform: rotate(0deg) translate(0vh) rotate(0deg) !important;
    z-index: 1 !important;
  }
}

.degnone::after {
  z-index: 3 !important;
}

/* Glow Effect */

.vc-box:after {
  content: " ";
  position: absolute;
  border-radius: inherit;
  left: -6px;
  right: -6px;
  bottom: -6px;
  top: -6px;
  background: linear-gradient(90deg, #c6810190, #6EC97790, #5c27fe90, #00000090) !important;
  background-size: 400% !important;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
  filter: blur(16px);
  animation: glowing 7s linear infinite;
  transform: translateZ(0);
}

.vc-box:hover:after {
  opacity: 1;
}

@keyframes glowing {
  100% {
    background-position: -400%;
  }
}

.vc-particle {
  box-shadow: 0px 0px 15px #fff !important;
}

.rotating {
  border: dashed 1px;
  border-radius: 50%;
  border-color: #ffffff00 !important;
  margin: 1.75em auto 0;
  -webkit-animation: rotate 7.5s ease infinite;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(60deg);
  }

  40% {
    transform: rotate(120deg);
  }

  60% {
    transform: rotate(180deg);
  }

  80% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(359deg);
  }
}